---
interface Props {
    src: string;
    alt: string;
}

const { src, alt } = Astro.props;
const lightSrc = src.replace(/(\.[^./]+)$/, '-light$1');
---

<p class="theme-screenshot">
    <a href={src} class="light:sl-hidden">
        <img src={src} alt={alt} loading="lazy" decoding="async" />
    </a>
    <a href={lightSrc} class="dark:sl-hidden">
        <img src={lightSrc} alt={alt} loading="lazy" decoding="async" />
    </a>
</p>

<style>
    .theme-screenshot img {
        margin: 0;
    }
</style>
